{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | home{% endblock %}

{% block body %}
<section class="form-search container">
    {{form_start(form)}}
    {{form_widget(form)}}
    <button class="btn-primary btn-lg">Search</button>
    {{form_end(form)}}
</section>


<section class="container">
    <div class="home-section">
        <h1>Voici notre bible à nous 🤩 : </h1>
        <div class="card-wrapper">

            {% for house in houses %}
                {% if house["dist"] is defined %}
                    {% set dist = house["dist"] %}
                    {% set house = house[0] %}
                {% endif %}
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ house.category.name }}
                            {% if app.user == house.owner %}
                                <a href="{{ path('deleteHousing', {id:house.id}) }}" class="btn btn-danger">Supp</a>
                            {% endif %}
                        </h5>
                        <p class="card-text">{{ house.description|slice(0, 50) ~ '...'}} </p>
                        <p>
                            Hôte : <a href="#" class="card-link mr-4">{{ house.owner.firstname }} {{ house.owner.lastname }}</a>
                        </p>
                        <p> Nb de chambres : {{ house.rooms|length }}</p>
                        <p> Nb de place : {{ house.availablePlaces }}</p>
                        {% if house["dist"] is defined %}
                            <p>Distance : {{ dist | round }} km de {{ house.city | capitalize }}</p>
                        {% endif %}
                        <div class="card-bottom">
                            <div class="card-bottom-right">
                                {% if app.user == house.owner %}
                                    <a href="{{ path('editHousing',{id:house.id}) }}" class="btn btn-secondary">Editer</a>
                                    <a href="{{ path('addRoom',{id:house.id}) }}" class="btn btn-secondary">Ajouter chambre</a>
                                {% elseif app.user %}
                                    <a href="{{ path('newBooking',{id:house.id}) }}" class="btn btn-dark">Réserver</a>
                                {% endif %}
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

</section>
{% endblock %}
