{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Réservation{% endblock %}

{% block body %}
    <section class="container search-form">
        <a href="#" class="btn btn-dark">Trouver une nouvelle destination 🏝 </a>
    </section>

    <section class="container">
        <h1>Mes réservations</h1>
        {% for reservation in reservations %}
            <div class="card">
                <h3>Du {{ reservation.entryDate|date("d-m-Y") }} au {{ reservation.exitDate|date("d-m-Y") }}</h3>
                <p>Description : {{ reservation.housing.description }}</p>
                <p>Réservé le {{ reservation.modifiedAt|date("d-m-Y") }}</p>
                <p>Durée du séjour : {{ reservation.journeyTime }}</p>
                <p>Nombre de personnes : {{ reservation.nbGuest }}</p>
                <div class="d-flex">
                    <a href="#" class="btn btn-danger">Annuler réservation</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}