{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Création{% endblock %}

{% block body %}
    <section class="container">
        <h1>Reservation</h1>
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn-primary btn-lg">Enregistrer</button>
        {{form_end(form)}}
        <br>
        <a href="#" class="btn-primary-outline btn-lg">Voir dispo</a>

        <div id='calendar' data-id="{{ housingId }}"></div>
    </section>
{% endblock %}
